

@import "app/fonts-Roboto/Roboto-BlackItalic.ttf";
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }



html { overflow:hidden;  font-family: 'Roboto',"Britannic Bold",Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height:100%;
  background-image: url("app/src/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
